.App {
  text-align: center;
  width: 100vw;
  height: 100vw;
}

.container {
  display: flex;
  position: relative;
}

.icons {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
}

.board {
  width: 900px;
  height: 600px;
  border: 2px solid black;
  margin-left: 100px;
  margin-top: 20px;
  position: relative;
}

svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3.5px;
}

.btn {
  background-color: lightblue;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid black;
  border-left: hidden;
}

#form {
  border: 1px solid black;
  width: 250px;
}

img {
  border-radius: 10px;
}
